[Unit]
Description=Disable wakeups

[Service]
Type=oneshot
ExecStart=/home/saminiir/dotfiles/systemd/disable-wakeups

[Install]
WantedBy=multi-user.target
