[Unit]
Description=User resume actions
After=sleep.target

[Service]
User=%I
Type=simple
ExecStart=/usr/sbin/modprobe thunderbolt
ExecStartPost=/usr/local/bin/xutils

[Install]
WantedBy=sleep.target
